@using BePro.Website.Public.Helpers
@model BePro.Website.Public.Models.TopCoursesViewModel

<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container-fluid">
        <div class="section-title center">
            <h2>საფასური, გადახდის პირობები, დაფინანსების შესაძლებლობები</h2>
        </div>
    </div>
</div>



<div id="divider-picture" class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-5 courses-container">
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course1.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course1.Name</h2>
                        <p>@Model.Course1.AuthorName</p>
                        <p>@Model.Course1.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course1.Price@Model.Course1.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course2.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course2.Name</h2>
                        <p>@Model.Course2.AuthorName</p>
                        <p>@Model.Course2.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course2.Price@Model.Course2.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course3.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course3.Name</h2>
                        <p>@Model.Course3.AuthorName</p>
                        <p>@Model.Course3.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course3.Price@Model.Course3.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course4.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course4.Name</h2>
                        <p>@Model.Course4.AuthorName</p>
                        <p>@Model.Course4.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course4.Price@Model.Course4.CurrencyChar</h2>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>


<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>ყველა სასწავლო პროგრამა და მათი ფასები</h2>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ეკოლოგია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/page/prices")
