@using BePro.Website.Public.Helpers
@model BePro.Website.Public.Models.TopCoursesViewModel

<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container-fluid">
        <div class="section-title center">
            <h2>საფასური, გადახდის პირობები, დაფინანსების შესაძლებლობები</h2>
        </div>
    </div>
</div>



<div id="divider-picture" class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-5 courses-container">
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course1.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course1.Name</h2>
                        <p>@Model.Course1.AuthorName</p>
                        <p>@Model.Course1.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course1.Price@Model.Course1.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course2.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course2.Name</h2>
                        <p>@Model.Course2.AuthorName</p>
                        <p>@Model.Course2.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course2.Price@Model.Course2.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course3.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course3.Name</h2>
                        <p>@Model.Course3.AuthorName</p>
                        <p>@Model.Course3.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course3.Price@Model.Course3.CurrencyChar</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Course4.IconUrl" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>@Model.Course4.Name</h2>
                        <p>@Model.Course4.AuthorName</p>
                        <p>@Model.Course4.StartDate.ToShortDateStringGeo()</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>@Model.Course4.Price@Model.Course4.CurrencyChar</h2>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>


<div id="works">
    <div class="container">
        <!-- Container -->
        <div class="section-title text-center center">
            <h2>ყველა სასწავლო პროგრამა და მათი ფასები</h2>
        </div>
        <div class="row">
            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 419px;">
                @{ 
                    var Courses = Enumerable.Range(1,8);
                }

                @foreach (var course in Courses)
                {
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="#" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                    <img src="~/Content/images/Pages/Pricing/@(course).png" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <link href="~/Content/Css/Pages/prices.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.isotope.js"></script>
}
